:root {
    --headerAccent: #B8916C;
}
/*
Surface, Background & onBackground come from content CSS file (website.css, blog.css, portfolio.css), this helps in keeping the colouring consistent
*/

@font-face {
    font-family: Sansation;
    src: url("res/fonts/Sansation_Regular.woff");
    font-weight: normal;
}
@font-face {
    font-family: Sansation;
    src: url("res/fonts/Sansation_Bold.woff");
    font-weight: bold;
}

header {
    width: 100%;
    height: 6vh;
    background-color: var(--surface);

    display: flex;
    justify-content: space-between;
    align-items: center;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#name {
    margin: 0 3% 0 3%;
    height: 60%;

    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#name:hover, .outer:hover {
    text-shadow:1px 1px 10px var(--surface), 1px 1px 10px var(--headerAccent);
    cursor: pointer;
}

header h5 {
    font-family: Sansation, sans-serif;
    font-weight: bold;
    font-size: 1.4em;
    color: var(--headerAccent);

    margin: 0;
}

header #inner {
    display: flex;
    justify-content: center;
    align-items: center;

    flex: 1;

    height: 60%;
    border-radius: 0.4em;

    background-color: var(--background);
}

@font-face {
    font-family: Asap;
    src: url("res/fonts/Asap_SemiExpanded-Medium.woff");
    font-weight: bold;
}

header #inner a {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Asap, sans-serif;
    font-weight: bold;
    color: var(--onBackground);

    flex: 1;
    height: 100%;
    text-align: center;

    border-radius: 0.3em;

    -webkit-transition: background 350ms, color 350ms;
    transition: background 350ms, color 350ms;
}

header #inner a:hover {
    background-color: var(--headerAccent);
    color: var(--background);
}

header #lang {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 2% 0 2%;

    height: 60%;
    aspect-ratio: 1 / 1;

    font-family: Sansation, sans-serif;
    font-weight: normal;
    font-size: 80%;
    color: var(--headerAccent);
}

nav a, nav a:active, nav a:hover, nav a:visited {
    text-decoration: none;
    cursor: default;
}

header #portfolio {
    margin: 0 1.2% 0 2.5%;
}

.outer {
    font-family: Raleway, sans-serif;
    font-weight: bold;
    color: var(--headerAccent);

    text-decoration: none;
    cursor: default;
}

@font-face {
    font-family: Sansation;
    font-weight: normal;
    src: url("/res/fonts/Sansation_Regular.woff");
}