body {
    margin: 0;
    width: 100vw;
    height: 100vh;

    background-color: #D3ECF4;

    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

main {
    margin: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: Quicksand;
    src: url("res/fonts/Quicksand-Medium.woff");
    font-weight: normal;
}

@font-face {
    font-family: Quicksand;
    src: url("res/fonts/Quicksand-Bold.woff");
    font-weight: bold;
}

#title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 4rem;

    font-family: Quicksand, sans-serif;
}

h1 {
    margin: 0;
    font-weight: bold;
    font-size: 250%;
}

h3 {
    margin: 0.5rem 0 0;
    font-weight: normal;
    font-size: 140%;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 15%;
    width: 100%;
}

@font-face {
    font-family: Markazi;
    src: url("res/fonts/MarkaziText-Medium.woff");
    font-weight: normal;
}

nav a {
    background-color: #94C2D0;

    height: 100%;
    width: 20%;

    border-radius: 0.3em;

    margin-right: 1.3rem;
    margin-left: 1.3rem;

    display: flex;
    justify-content: center;
    align-items: center;

    -webkit-transition: background 0.5s;
    transition: background 0.5s;
}

h2 {
    font-family: Markazi, Quicksand, sans-serif;
    font-weight: normal;
    font-size: 220%;

    position: absolute;
}

.new {
    opacity: 0;
}

.old, .new {
    transition: opacity 0.2s linear;
}

.wrap:hover .old {
    opacity: 0;
}
.wrap:hover .new {
    opacity: 1;
}

/* First Button */
nav a:first-child {
    margin-left: 0;
}

/* Second Button */
nav a:nth-child(2) {

}

/* Third Button */
nav a:last-child {
    margin-right: 0;
}

nav a, nav a:active, nav a:hover, nav a:visited {
    text-decoration: none;
    color: black;
    cursor: default;
}

nav a:hover {
    background-color: #ECD5A9;
}