body {
    margin: 0;
    width: 100vw;
    height: 100vh;

    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

header {
    width: 100%;
    height: 6%;
    background-color: #CBD5D8;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h5 {
    margin: 0 0 0 3%;
    font-size: 1.4em;
    color: #B8916C;
}

header #inner {
    display: flex;
    justify-content: center;
    align-items: center;

    flex: 1;
    margin: 0 2% 0 4%;

    height: 60%;
    border-radius: 0.4em;

    background-color: white;
}

header #inner a {
    display: flex;
    justify-content: center;
    align-items: center;

    flex: 1;
    height: 100%;
    text-align: center;
}

header #outer {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 3% 0 0;

    width: 3.5%;
    height: 60%;
    border-radius: 0.4em;

    background-color: white;
}

nav a, nav a:active, nav a:hover, nav a:visited {
    text-decoration: none;
    color: black;
    cursor: default;
}